body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://cdn.pixabay.com/photo/2017/04/15/11/51/mt-fuji-2232246_1280.jpg') no-repeat center/cover;
}

.wapper {
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    border: none;
}

.wapper-info {
    padding: 1rem;
    width: 40%;
    height: 50%;
    align-self: center;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 1rem;
}

.wapper-info h1 {
    font-size: 2em;
    text-align: center;
    color: rgb(4, 4, 196);
}

.wapper-info p {
    margin: 1.4rem;
    text-align: justify;
    font-size: 1.1em;
}

.wapper-info .btn-link-login {
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem 2rem;
    color: white;
    background-color: rgb(4, 4, 196);
}

.wapper-info .btn-link-login:hover {
    background-color: blue;
}

form {
    width: 60%;
    height: 100%;
    padding: 2rem 4rem;
    background-color: rgba(4, 4, 196, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

form .form-title {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 1rem;
}

form .row {
    display: flex;
    justify-content: space-between;
    gap: .2rem;
}

form .row div {
    position: relative;
    width: 50%;
}

form .container-email {
    position: relative;
}

form label:not(label[for="termos"]) {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    color: rgb(5, 5, 194);
}

form input:not(input[type='submit'], input[type='checkbox']) {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    font-size: 1.1em;
}

form .container-checkbox a {
    color: rgb(255, 255, 255);
}
form .container-checkbox a:hover {
    color: rgb(211, 199, 188);
}

form .btn-register {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.1em;
    padding: .5rem 1rem;
}

form .btn-register:hover {
    background-color: rgb(235, 227, 227);
}

form h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
}

form h3::after, h3::before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 36%;
    background-color: white;
}

form .icons-account {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

form .icons-account .icons {
    cursor: pointer;
    border-radius: 100%;
    width: 2.6rem;
    height: 2.6rem;
    display: grid;
    place-items: center;
    background-color: white;
    color: rgb(4, 4, 196);
}
form .icons-account .icons:hover {
    background-color: rgb(223, 212, 212);
}